.app {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		margin: 0 1em;
	}

	&__title {
		text-align: center;
		color: #fff;
		font-size: 4em;
	}

	&__content {
		background-color: white;
		border-radius: 4px;
		max-width: 35em;
		padding: 2em;
	}

	&__actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 30px;
	}

	&__footer {
		width: 450px;
		text-align: center;
		display: block;
		padding: 15px 0 30px;
		margin: 0 auto;
		font-size: 2em;
		color: #fff;

		a {
			font-weight: 500;
			text-decoration: none;
			color: #fff;
		}
	}
}

@media screen and (max-width: 768px) {
	.app {
		&__title {
			font-size: 3em;
			margin: 0.4em 0;
		}

		&__container {
			justify-content: space-between;
		}

		&__content {
			padding: 1em;
		}

		&__footer {
			width: 100%;
		}
	}
}
