@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
  background-color: lightseagreen;
  font-family: 'East Sea Dokdo', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
